.page_no9{left:224px;}

.para10{ text-indent:30px; left:72px;}
.para11{text-indent:0px;left:72px;top: 411px;}
.para12{ text-indent:0px; left:72px;}
.para13{ text-indent:30px; left:72px;}
.para14{text-indent:30px;left:72px;}

.para11>span:nth-child(1){font-family: "desyrel";font-size: 38px;}