.para4{color:#ffffff;  text-indent:30px;}
.para5{color:#ffffff;}
.para6{color:#ffffff;text-indent:30px;top: 231px;}
.para7{color:#ffffff;}
.para8{color:#ffffff; font-family: "gill-sans-italic"; text-indent:30px;}
.para5>span:nth-child(4)>span:nth-child(1){font-family: "Stencil";font-size: 19px;}
.para6>span:nth-child(2){font-family: "True_Lies";font-size: 31px;}
.page_no4{color:#ffffff;left: 223px;}

.chtit1 span {margin-right: 5px;}