.page_no8{left:224px;}

.para10{ text-indent:25px;}
.para11{ text-indent:25px;}
.para12{ text-indent:0px; left:67px;}
.para13{ text-indent:0px; left:67px;}
.para14{text-indent:0px;left:67px;top: 533px;}

.para11>span:nth-child(3)>span:nth-child(1){font-family: "Captureit";font-size: 21px;}
.para14>span:nth-child(3)>span:nth-child(1){font-family: "launica";font-size: 23px;}