.page_no6{left:224px;}

.para2 {top: 77px;}
.para2>span:nth-child(1)>span:nth-child(1){font-family: "blackrose";font-size: 31px;}

.para6>span:nth-child(2){font-family: "Amatic-Bold";font-size: 42px;vertical-align: bottom;}
.para6>span:nth-child(3)>span:nth-child(1){font-family: "Amatic-Bold";font-size: 42px;vertical-align: bottom;}
.para6{top: 220px;}
.para4{ text-indent:30px; font-family: "gill-sans-italic";}
.para5{ text-indent:30px;}

