@charset "utf-8";

@font-face {
  font-family: "Kasturi-Regular";
  src: url('../fonts/Kasturi-Regular.ttf');
}


body {
font-family: "Kasturi-Regular";
	margin:1em;
}

@page {
	margin : 0% 0% 0% 0%;
}

a {
	text-decoration:none;
	color: inherit;
}

.center {
text-align:center;
}

.noindent{margin:0em 0em 0em 0em; text-indent:0em; text-align:justify;}
.indent{margin:0em 0em 0em 0em; text-indent:1em; text-align:justify;}

h1{margin:1em 0em 2em 0em; text-indent:0em; text-align:center; }
