/*CSS*/
.page002Container .para0{
	width:475px;
	position:absolute;
	top:-23.35px;
	left:151.08px;
	color:#000000;
	font-family: "BECAG__Bold";
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
.page002Container .para1 .speaking{
color: yellow;
background: transparent !important;
}
.page002Container .para1{
	width:6930px;
	position:absolute;
	top: -8.84px;
	left:0px;
	letter-spacing: 7.6px;
	-webkit-transform-origin:0% 174.60px;
	-webkit-transform:matrix(0.85,0,0,1,0,0);
	transform-origin:0% 174.60px;
	transform:matrix(0.85,0,0,1,0,0);
	color: #ffffff;
	font-family: "BECAG__Bold";
	font-size:200px;
	font-style:normal;
	font-weight:normal;
	-moz-transform-origin:0% 174.60px;
	-o-transform-origin:0% 174.60px;
	-ms-transform-origin:0% 174.60px;
	-moz-transform:matrix(0.85,0,0,1,0,0);
	-o-transform:matrix(0.85,0,0,1,0,0);
	-ms-transform:matrix(0.85,0,0,1,0,0);
}
.page002Container .para2{
	width: 11360px;
	position:absolute;
	top: -144.21px;
	left:0px;
	letter-spacing: 18.95px;
	-webkit-transform-origin:0% 567.45px;
	-webkit-transform:matrix(0.87,0,0,1,0,0);
	transform-origin:0% 567.45px;
	transform:matrix(0.87,0,0,1,0,0);
	color:#9d3393;
	font-family: "BECAG__Bold";
	font-size:650px;
	font-style:normal;
	font-weight:normal;
	-moz-transform-origin:0% 567.45px;
	-o-transform-origin:0% 567.45px;
	-ms-transform-origin:0% 567.45px;
	-moz-transform:matrix(0.87,0,0,1,0,0);
	-o-transform:matrix(0.87,0,0,1,0,0);
	-ms-transform:matrix(0.87,0,0,1,0,0);
}
.page002Container .para3>span:nth-child(27)::after {
  content:"\000A";
  white-space:pre;
  }

.page002Container .para3 span{margin-right: 110px;}
.page002Container .para3{
	width: 10070px;
	position:absolute;
	top: 973px;
	left: 0px;
	text-indent: 450px;
	line-height: 720px;
	color:#000000;
	font-family: "BEC-Regular";
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
.page002Container .para4 span{margin-right: 60px;}
.page002Container .para5 span{margin-right: 60px;}
.page002Container .para6 span{margin-right: 60px;}
.page002Container .para b{font-family: "BECAG__Bold";}
.page002Container .para6>span:nth-child(3){margin-right: 520px;}

.page002Container .para4{
	width:8922px;
	position:absolute;
	top: -31.14px;
	left:0px;
	letter-spacing:1.2px;
	color:#000000;
	font-family: "BECAG__Heavy";
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
.page002Container .para5{
	width:8922px;
	position:absolute;
	top: 440.46px;
	left:0px;
	letter-spacing:1.2px;
	color:#000000;
	font-family: "BECAG__Heavy";
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
.page002Container .para6{
	width:8922px;
	position:absolute;
	top:952.06px;
	left:0px;
	letter-spacing: 0px;
	color:#000000;
	font-family: "BECAG__Heavy";
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
.page002Container .section1{
	height:25px;
	left:17px;
	position:absolute;
	top:750px;
	width:25px;
}
.page002Container .section2{
	height:20px;
	left:0px;
	position:absolute;
	top:2px;
	width:23px;
}
.page002Container .section3{
	width:475px;
	height:253px;
	position:absolute;
	top:4.18px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page002Container .section4{
	height:15px;
	left:24px;
	position:absolute;
	top:21px;
	width:346px;
}
.page002Container .section5{
	width:6930px;
	height:274px;
	position:absolute;
	top:1px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page002Container .section6{
	height:235px;
	left:72px;
	position:absolute;
	top:64px;
	width:468px;
}
.page002Container .section7{
	width:9360px;
	height:4464px;
	position:absolute;
	top:8.39px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page002Container .section8{
	height:373px;
	left:72px;
	position:absolute;
	top:301px;
	width:286px;
}
.page002Container .section9{
	height:171px;
	left:119px;
	position:absolute;
	top:22px;
	width:149px;
}
.page002Container .section10{
	height:78px;
	left:85px;
	position:absolute;
	top:689px;
	width:446px;
}
.page002Container .section11{
	width:8922px;
	height:1153px;
	position:absolute;
	top:3.73px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page002Container{
	position:absolute;
	left:0px;
	width:612px;
	height:792px;
}
/*RIGHT PAGE CSS*//*CSS*/
.page003Container .para0{
	width:475px;
	position:absolute;
	top:-23.35px;
	left:151.08px;
	color:#000000;
	font-family: "BECAG__Bold";
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
.page003Container .para1{
	width:9520px;
	position:absolute;
	top:-13.34px;
	left:0px;
	color:#939598;
	font-family: "BECAG__Bold";
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
.page003Container .para2{
	width:9520px;
	position:absolute;
	top:226.66px;
	left:0px;
	color:#939598;
	font-family: "BECAG__Bold";
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
.page003Container .para3{
	width:2132px;
	position:absolute;
	top: 34.36px;
	left:259.95px;
	letter-spacing:7.72px;
	-webkit-transform-origin:0% 174.60px;
	-webkit-transform:matrix(0.85,0,0,1,0,0);
	transform-origin:0% 174.60px;
	transform:matrix(0.85,0,0,1,0,0);
	color:#9d3393;
	font-family: "BECAG__Bold";
	font-size:200px;
	font-style:normal;
	font-weight:normal;
	-moz-transform-origin:0% 174.60px;
	-o-transform-origin:0% 174.60px;
	-ms-transform-origin:0% 174.60px;
	-moz-transform:matrix(0.85,0,0,1,0,0);
	-o-transform:matrix(0.85,0,0,1,0,0);
	-ms-transform:matrix(0.85,0,0,1,0,0);
}
.page003Container .para4 span{margin-right: 116px;}
.page003Container .para4{
	width: 9917px;
	position:absolute;
	top: -190.41px;
	left: 0px;
	line-height: 720px;
	color:#000000;
	font-family: "BEC-Regular";
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
.page003Container .section1{
	height:25px;
	left:568px;
	position:absolute;
	top:750px;
	width:25px;
}
.page003Container .section2{
	height:20px;
	left:1px;
	position:absolute;
	top:2px;
	width:23px;
}
.page003Container .section3{
	width:475px;
	height:253px;
	position:absolute;
	top:4.18px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page003Container .section4{
	height:477px;
	left:62px;
	position:absolute;
	top:259px;
	width:514px;
}
.page003Container .section5{
	height:65px;
	left:33px;
	position:absolute;
	top:400px;
	width:457px;
}
.page003Container .section6{
	-webkit-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13px;
	left:4px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:50px;
	-moz-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-o-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
}
.page003Container .section7{
	height:24px;
	left:73px;
	position:absolute;
	top:741px;
	width:476px;
}
.page003Container .section8{
	width:9520px;
	height:366px;
	position:absolute;
	top:2.82px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page003Container .section9{
	background-repeat:no-repeat;
	background-size:cover;
	height:20px;
	left:481px;
	position:absolute;
	top:19px;
	width:106px;
}
.page003Container .section10{
	width:2132px;
	height:360px;
	position:absolute;
	top:1px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page003Container .section11{
	height:166px;
	left:72px;
	position:absolute;
	top:93px;
	width:483px;
}
.page003Container .section12{
	width:9677px;
	height:3175px;
	position:absolute;
	top:6.49px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page003Container{
	position:absolute;
	left:612px;
	width:612px;
	height:792px;
}
body{
	width:1224px;
	height:792px;
}
