/*CSS*/
.page004Container .para0{
	width:475px;
	position:absolute;
	top:-23.35px;
	left:151.08px;
	color: #000000;
	font-family: "BECAG__Bold";
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
.page004Container .para0 span{margin-right: 60px;}
.page004Container .para1 span{margin-right: 60px;}
.page004Container .para2 span{margin-right: 60px;}
.page004Container .para3 span{margin-right: 116px;}
.page004Container .para4 span{margin-right: 110px;}


.page004Container .para1 .speaking{
color: yellow;
background: transparent !important;
}
.page004Container .para1{
	width:6930px;
	position:absolute;
	top: -8.84px;
	left:0px;
	letter-spacing:4.6px;
	-webkit-transform-origin:0% 174.60px;
	-webkit-transform:matrix(0.85,0,0,1,0,0);
	transform-origin:0% 174.60px;
	transform:matrix(0.85,0,0,1,0,0);
	color: #ffffff;
	font-family: "BECAG__Bold";
	font-size:200px;
	font-style:normal;
	font-weight:normal;
	-moz-transform-origin:0% 174.60px;
	-o-transform-origin:0% 174.60px;
	-ms-transform-origin:0% 174.60px;
	-moz-transform:matrix(0.85,0,0,1,0,0);
	-o-transform:matrix(0.85,0,0,1,0,0);
	-ms-transform:matrix(0.85,0,0,1,0,0);
}
.page004Container .para2{
	width:8496px;
	position:absolute;
	top: -168.21px;
	left:0px;
	letter-spacing:8.78px;
	-webkit-transform-origin:0% 567.45px;
	-webkit-transform:matrix(0.87,0,0,1,0,0);
	transform-origin:0% 567.45px;
	transform:matrix(0.87,0,0,1,0,0);
	color:#9d3393;
	font-family: "BECAG__Bold";
	font-size:650px;
	font-style:normal;
	font-weight:normal;
	-moz-transform-origin:0% 567.45px;
	-o-transform-origin:0% 567.45px;
	-ms-transform-origin:0% 567.45px;
	-moz-transform:matrix(0.87,0,0,1,0,0);
	-o-transform:matrix(0.87,0,0,1,0,0);
	-ms-transform:matrix(0.87,0,0,1,0,0);
}
.page004Container .para3{
	width:8496px;
	position:absolute;
	top: 963px;
	left: -40px;
	color:#000000;
	text-indent: 450px;
	line-height: 720px;
	font-family: "BEC-Regular";
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
.page004Container .para4{
	width:8496px;
	position:absolute;
	top: 4743px;
	left: -20px;
	color:#000000;
	text-indent: 450px;
	line-height: 720px;
	font-family: "BEC-Regular";
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
.page004Container .para5 span{margin-right: 60px;}
.page004Container .para5{
	width:8922px;
	position:absolute;
	top: -41.14px;
	left:0px;
	letter-spacing:1.2px;
	color:#000000;
	font-family: "BECAG__Heavy";
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
.page004Container .para6 span{margin-right: 60px;}
.page004Container .para6{
	width:8922px;
	position:absolute;
	top: 449.46px;
	left:0px;
	letter-spacing:1.2px;
	color:#000000;
	font-family: "BECAG__Heavy";
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
.page004Container .para7 span{margin-right: 60px;}
.page004Container .para b{font-family: "BECAG__Bold";}
.page004Container .para7>span:nth-child(3){margin-right: 500px;}
.page004Container .para7{
	width:8922px;
	position:absolute;
	top: 932.06px;
	left:0px;
	letter-spacing: 0px;
	color:#000000;
	font-family: "BECAG__Heavy";
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
.page004Container .section1{
	height:25px;
	left:17px;
	position:absolute;
	top:750px;
	width:25px;
}
.page004Container .section2{
	height:20px;
	left:0px;
	position:absolute;
	top:2px;
	width:23px;
}
.page004Container .section3{
	width:475px;
	height:253px;
	position:absolute;
	top:4.18px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page004Container .section4{
	height:15px;
	left:24px;
	position:absolute;
	top:21px;
	width:346px;
}
.page004Container .section5{
	width:6930px;
	height:274px;
	position:absolute;
	top:1px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page004Container .section6{
	height:331px;
	left:72px;
	position:absolute;
	top:64px;
	width:424px;
}
.page004Container .section7{
	width:8496px;
	height:6451px;
	position:absolute;
	top:8.39px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page004Container .section8{
	height:78px;
	left:85px;
	position:absolute;
	top:689px;
	width:446px;
}
.page004Container .section9{
	width:8922px;
	height:1182px;
	position:absolute;
	top:3.73px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page004Container{
	position:absolute;
	left:0px;
	width:612px;
	height:792px;
}
/*RIGHT PAGE CSS*//*CSS*/
.page005Container .para0{
	width:475px;
	position:absolute;
	top:-23.35px;
	left:151.08px;
	color: #000000;
	font-family: "BECAG__Bold";
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
.page005Container .para1{
	width:9520px;
	position:absolute;
	top:-13.34px;
	left:0px;
	color:#939598;
	font-family: "BECAG__Bold";
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
.page005Container .para4 span{margin-right: 110px;}
.page005Container .para5 span{margin-right: 110px;}
.page004Container .para1 span{margin-right: 16px;}
.page005Container .para3 span{margin-right: 40px;}
.page005Container .para2{
	width:9520px;
	position:absolute;
	top:226.66px;
	left:0px;
	color:#939598;
	font-family: "BECAG__Bold";
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
.page005Container .para3{
	width:2132px;
	position:absolute;
	top: 44.36px;
	left:336.8px;
	letter-spacing:6.79px;
	-webkit-transform-origin:0% 174.60px;
	-webkit-transform:matrix(0.85,0,0,1,0,0);
	transform-origin:0% 174.60px;
	transform:matrix(0.85,0,0,1,0,0);
	color:#9d3393;
	font-family: "BECAG__Bold";
	font-size:200px;
	font-style:normal;
	font-weight:normal;
	-moz-transform-origin:0% 174.60px;
	-o-transform-origin:0% 174.60px;
	-ms-transform-origin:0% 174.60px;
	-moz-transform:matrix(0.85,0,0,1,0,0);
	-o-transform:matrix(0.85,0,0,1,0,0);
	-ms-transform:matrix(0.85,0,0,1,0,0);
}
.page005Container .para4{
	width:8842px;
	position:absolute;
	top: -160.41px;
	left: -10px;
	color:#000000;
	font-family: "BEC-Regular";
	font-size:480px;
	text-indent: 450px;
	line-height: 720px;
	font-style:normal;
	font-weight:normal;
}
.page005Container .para5{
	width:8842px;
	position:absolute;
	top: 1519.59px;
	left:450px;
	color:#000000;
	font-family: "BEC-Regular";
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
.page005Container .section1{
	height:25px;
	left:568px;
	position:absolute;
	top:750px;
	width:25px;
}
.page005Container .section2{
	height:20px;
	left:1px;
	position:absolute;
	top:2px;
	width:23px;
}
.page005Container .section3{
	width:475px;
	height:253px;
	position:absolute;
	top:4.18px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page005Container .section4{
	height:477px;
	left:62px;
	position:absolute;
	top:259px;
	width:514px;
}
.page005Container .section5{
	height:65px;
	left:33px;
	position:absolute;
	top:400px;
	width:457px;
}
.page005Container .section6{
	-webkit-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:13px;
	left:4px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:50px;
	-moz-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-o-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform:translate(0.000px,0.000px) rotate(20.000deg) skew(0.000deg) scale(1.000,1.000);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
}
.page005Container .section7{
	height:24px;
	left:73px;
	position:absolute;
	top:741px;
	width:476px;
}
.page005Container .section8{
	width:9520px;
	height:366px;
	position:absolute;
	top:2.82px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page005Container .section9{
	background-repeat:no-repeat;
	background-size:cover;
	height:20px;
	left:481px;
	position:absolute;
	top:19px;
	width:106px;
}
.page005Container .section10{
	width:2132px;
	height:360px;
	position:absolute;
	top:1px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page005Container .section11{
	height:188px;
	left:72px;
	position:absolute;
	top:93px;
	width:442px;
}
.page005Container .section12{
	width:8842px;
	height:3620px;
	position:absolute;
	top:6.49px;
	left:0px;
	-webkit-transform-origin:0% 0%;
	-webkit-transform:rotate(0deg) scale(0.05);
	transform-origin:0% 0%;
	transform:rotate(0deg) scale(0.05);
	-moz-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-moz-transform:rotate(0deg) scale(0.05);
	-o-transform:rotate(0deg) scale(0.05);
	-ms-transform:rotate(0deg) scale(0.05);
}
.page005Container{
	position:absolute;
	left:612px;
	width:612px;
	height:792px;
}
body{
	width:1224px;
	height:792px;
}
