.frontcover .para0 {width: 9860px;position: absolute;top: -137.09px;left: 137.62px;text-align: center;letter-spacing: 0px;color:#ef4135;line-height: 1500px;font-family: "badgerextrabold";font-size: 1370px;font-style:normal;font-weight:normal;}
 
.frontcover .para1 .speaking{
color: yellow;
background: transparent !important;
}
.frontcover .para1 {width: 11860px;position: absolute;top: -27.84px;left: 0px;letter-spacing: 178.56px;color: #ffffff;font-family: "Agenda__Bold";font-size:320px;font-style:normal;font-variant:small-caps;font-weight:normal;}
 
.frontcover .para2 .speaking{
color: yellow;
background: transparent !important;
}
.frontcover .para2 {width: 6000px;position: absolute;top: -420.05px;left: -60px;-webkit-text-stroke: 40px #98318d;text-stroke: 40px #98318d;color: #ffffff;font-family: "BECAG__Bold";font-size: 1863px;font-style:normal;font-weight:normal;}
 
.frontcover .para3 .speaking{
color: yellow;
background: transparent !important;
}
.frontcover .para3 {width: 6000px;position: absolute;top: -170.05px;left: -60px;-webkit-text-stroke: 40px #007ac3;text-stroke: 40px #007ac3;color: #ffffff;font-family: "BECAG__Bold";font-size: 1553px;font-style:normal;font-weight:normal;}
 
.frontcover .section1 { 
height:903px;left:-102px;position:absolute;top:-45px;width:753px;
 }
 
.frontcover .section2 { 
-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);-webkit-transform-origin:0% 0%;height:703px;left:747px;position:absolute;top:40px;transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);transform-origin:0% 0%;width:800px;
 }
 
.frontcover .section3 { 
height:198px;left:51px;position:absolute;top:48px;width:508px;
 }
 
.frontcover .section4 { 
height:192px;left:0px;position:absolute;top:6px;width:508px;
 }
 
.frontcover .section5 { width:10166px;height:3430px;position:absolute;top:19.7px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: rotate(0deg) scale(0.05); }
 
.frontcover .section6 { 
height:24px;left:106px;position:absolute;top:753px;width:463px;
 }
 
.frontcover .section7 { width:9272px;height:388px;position:absolute;top:3.78px;left:0px;-webkit-transform-origin: 0% 0%; -webkit-transform: rotate(0deg) scale(0.05);transform-origin: 0% 0%; transform: rotate(0deg) scale(0.05); }
 
.frontcover .section8 { 
height:353px;left:294px;position:absolute;top:163px;width:137px;
 }
 
.frontcover .section9 {width:2519px;height:4430px;position:absolute;top:79.11px;left:2.49px;-webkit-transform-origin: 0% 0%;-webkit-transform: rotate(0deg) scale(0.12);transform-origin: 0% 0%;transform: rotate(0deg) scale(0.12);}
 
.frontcover .section10 { 
height:353px;left:363px;position:absolute;top:353px;width:287px;
 }
 
.frontcover .section11 {width:5530px;height:4430px;position:absolute;top:79.11px;left:2.49px;-webkit-transform-origin: 0% 0%;-webkit-transform: rotate(0deg) scale(0.12);transform-origin: 0% 0%;transform: rotate(0deg) scale(0.12);}
 

.frontcover {
	position:absolute;
	left:306px;
	width:1224px;
	height:792px;
}
