
.page005_1 {
  top: -1px;
  left: 84px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_2 {
  top: 56px;
  left: 71px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 124px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page005_3 sup{font-size:15px;}
.page005_3 {
  top: 7px;
  left: 276px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 260px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_4 {
  top: 63px;
  left: 243px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 297px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page005_5 {
  top: 125px;
  left: 204px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_6 i{font-family: "Chronicletextg1-italic";}
.page005_6 {
  top: 181px;
  left: 221px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 265px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page005_7 {
  top: 220px;
  left: 67px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_8 {
  top: 276px;
  left: 71px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 185px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page005_9 {
  top: 346px;
  left: 217px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 50px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_10 {
  top: 403px;
  left: 205px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 209px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page005_11 {
  top: 688px;
  left: 88px;
  font-family: "Chronicletextg1-semiitalic";
  font-size: 13px;
  word-spacing: 2px;
  width: 180px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}
.page005_12 {
  top: 607px;
  left: 523px;
  font-family: "Chronicletextg1-roman";
  font-size: 68px;
  word-spacing: 0px;
  width: 30px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}

.page005_13 {
  top: 740px;
  left: 441px;
  font-family: "Chronicletextg1-italic";
  font-size: 16px;
  word-spacing: 1px;
  width: 130px;
  text-indent: -2px;
  position: absolute;
  color: #f69988;
  text-align: left;
  line-height: 18px;
}

span.white{color:#ffffff;}
.page005_14 {
  top: 716px;
  left: 85px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_15 {
  top: 760px;
  left: 85px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 133px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_16 i{font-family: "Chronicletextg1-italic";}
.page005_16 {
  top: 802px;
  left: 86px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page005_17 {
  top: 716px;
  left: 242px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}

