.page003_1 {
  top: 32px;
  left: 196px;
  font-family: "Gotham-Book";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ed213a;
  text-align: center;
  letter-spacing: 1px;
}


.page003_2 {
  top: 12px;
  left: 166px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_3 {
  top: 68px;
  left: 139px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 135px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page003_4 {
  top: 45px;
  left: 456px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 40px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_5 {
  top: 101px;
  left: 439px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 120px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page003_6 {
  top: 180px;
  left: 292px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_7 {
  top: 236px;
  left: 266px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 145px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page003_8 {
  top: 229px;
  left: 96px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_9 {
  top: 285px;
  left: 56px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 145px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page003_10 {
  top: 283px;
  left: 426px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 50px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_11 {
  top: 339px;
  left: 403px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 139px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page003_12 {
  top: 374px;
  left: 204px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_13 {
  top: 430px;
  left: 165px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 145px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page003_14 {
  top: 688px;
  left: 88px;
  font-family: "Chronicletextg1-semiitalic";
  font-size: 13px;
  word-spacing: 2px;
  width: 180px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}
.page003_15 {
  top: 607px;
  left: 523px;
  font-family: "Chronicletextg1-roman";
  font-size: 68px;
  word-spacing: 0px;
  width: 30px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}

.page003_16 {
  top: 740px;
  left: 441px;
  font-family: "Chronicletextg1-italic";
  font-size: 16px;
  word-spacing: 1px;
  width: 130px;
  text-indent: -2px;
  position: absolute;
  color: #f69988;
  text-align: left;
  line-height: 18px;
}

span.white{color:#ffffff;}
.page003_17 {
  top: 717px;
  left: 85px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page003_18 {
  top: 717px;
  left: 244px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 133px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
