.page002_1 {
  top: -2px;
  left: 42px;
  font-family: "Chronicletextg1-roman";
  font-size: 22px;
  word-spacing: 0.8px;
  width: 520px;
  text-indent: 0px;
  position: absolute;
  color: #ed213a;
  text-align: left;
}


.page002_3 {
  top: 32px;
  left: 42px;
  font-family: "Chronicletextg1-roman";
  font-size: 14px;
  word-spacing: 2px;
  width: 429px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
  line-height: 20px;
}

.page002_4 {
  top: 61px;
  left: 86px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page002_5 {
  top: 118px;
  left: 58px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 197px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page002_6 {
  top: 46px;
  left: 338px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page002_7 {
  top: 103px;
  left: 317px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 160px;
  line-height: 12px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page002_8 {
  top: 218px;
  left: 231px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page002_9 {
  top: 274px;
  left: 214px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 134px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page002_10 {
  top: 213px;
  left: 450px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 30px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page002_11 {
  top: 269px;
  left: 377px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page002_12 {
  top: 454px;
  left: 235px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page002_13 {
  top: 511px;
  left: 219px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 131px;
  line-height: 13px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page002_14 {
  top: 688px;
  left: 191px;
  font-family: "Chronicletextg1-semiitalic";
  font-size: 13px;
  word-spacing: 2px;
  width: 180px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}
.page002_15 {
  top: 607px;
  left: 20px;
  font-family: "Chronicletextg1-roman";
  font-size: 68px;
  word-spacing: 0px;
  width: 30px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}

.page002_16 {
  top: 740px;
  left: 19px;
  font-family: "Chronicletextg1-italic";
  font-size: 16px;
  word-spacing: 1px;
  width: 130px;
  text-indent: 0px;
  position: absolute;
  color: #f69988;
  text-align: left;
  line-height: 18px;
}

span.white{color:#ffffff;}
.page002_17 {
  top: 717px;
  left: 190px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page002_18 {
  top: 717px;
  left: 348px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 136px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
