.page004_1 {
  top: 32px;
  left: 183px;
  font-family: "Gotham-Book";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ed213a;
  text-align: center;
  letter-spacing: 1px;
}


.page004_2 {
  top: 7px;
  left: 317px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_3 {
  top: 64px;
  left: 299px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 135px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page004_4 {
  top: 57px;
  left: 169px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 40px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_5 {
  top: 114px;
  left: 134px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 146px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page004_6 {
  top: 127px;
  left: 433px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 40px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_7 {
  top: 184px;
  left: 426px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 115px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page004_8 {
  top: 271px;
  left: 86px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_9 {
  top: 326px;
  left: 53px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}
.page004_10 {
  top: 324px;
  left: 405px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 50px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_11 {
  top: 380px;
  left: 387px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 139px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page004_12 {
  top: 388px;
  left: 243px;
  font-family: "Chronicletextg1-roman";
  font-size: 31px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_13 {
  top: 444px;
  left: 222px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 125px;
  text-indent: 0px;
  line-height: 13px;
  position: absolute;
  color: #ffffff;
  text-align: center;
}

.page004_14 {
  top: 688px;
  left: 347px;
  font-family: "Chronicletextg1-semiitalic";
  font-size: 13px;
  word-spacing: 2px;
  width: 180px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}
.page004_15 {
  top: 607px;
  left: 20px;
  font-family: "Chronicletextg1-roman";
  font-size: 68px;
  word-spacing: 0px;
  width: 30px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}

.page004_16 {
  top: 740px;
  left: 19px;
  font-family: "Chronicletextg1-italic";
  font-size: 16px;
  word-spacing: 1px;
  width: 130px;
  text-indent: 0px;
  position: absolute;
  color: #f69988;
  text-align: left;
  line-height: 18px;
}

.page004_17 {
  top: 688px;
  left: 190px;
  font-family: "Chronicletextg1-semiitalic";
  font-size: 13px;
  word-spacing: 2px;
  width: 180px;
  text-indent: 0px;
  position: absolute;
  color: #fff200;
  text-align: left;
}
span.yellow{color: #fff200;}
.page004_18 {
  top: 832px;
  left: 19px;
  font-family: "Chronicletextg1-italic";
  font-size: 9px;
  word-spacing: 1px;
  width: 130px;
  text-indent: 0px;
  position: absolute;
  color: #f69988;
  text-align: left;
  line-height: 18px;
}
.page004_19 {
  top: 844px;
  left: 19px;
  font-family: "Chronicletextg1-italic";
  font-size: 9px;
  word-spacing: 1px;
  width: 130px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
  line-height: 18px;
}

span.white{color:#ffffff;}
.page004_20 {
  top: 717px;
  left: 190px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_21 {
  top: 792px;
  left: 190px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 133px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}

.page004_22 {
  top: 717px;
  left: 346px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
.page004_23 {
  top: 792px;
  left: 347px;
  font-family: "Chronicletextg1-roman";
  font-size: 11px;
  word-spacing: 0px;
  width: 144px;
  line-height:11px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: left;
}
