@charset "utf-8";

@font-face {
  font-family: "Chronicletextg1-italic";
  src: url('../fonts/Chronicletextg1-italic.otf');
}

@font-face {
  font-family: "Chronicletextg1-roman";
  src: url('../fonts/Chronicletextg1-roman.otf');
}

@font-face {
  font-family: "Chronicletextg1-semiitalic";
  src: url('../fonts/Chronicletextg1-semiitalic.otf');
}

@font-face {
  font-family: "Gotham-Book";
  src: url('../fonts/Gotham-Book.ttf');
}

@font-face {
  font-family: "Gotham-Medium";
  src: url('../fonts/Gotham-Medium.ttf');
}

@font-face {
  font-family: "Helvetica";
  src: url('../fonts/Helvetica.otf');
}


body {
  position: absolute;
  width: 576px;
  height: 882px;
  margin: 0px;
}

.centerimg {
  width: 576px;
  height: 882px;
  position: absolute;
}

.img {
  width: 576px;
  height: 882px;
}


a {
	text-decoration: none;
	color:inherit;
}

sup { font-size: .75em;
    line-height: 0.8em;
    position: relative;
    top: -0.1em; }

sub {     font-size: .75em;
    line-height: 0.5em;
    position: relative;
    top: -0.1em;}


.extention
{
display: inline-block;
width: 100%;
}
i{font-style:normal;}