body {
	margin:1em;
}

body {
	-epub-hyphens:auto;
	line-height:1.333;
	-webkit-hyphens:auto;
}

@page {
	margin : 0% 0% 0% 0%;
}

a {
	text-decoration:none;
	color: inherit;
}

.center {
	text-align:center;
	margin: 1em 0 1em 0;
}

.cover {
	text-align:center;
}

img.Basic-Graphics-Frame, div.Basic-Graphics-Frame {
}

img.s {
	border-style:solid;
}

p.Text {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.Text1 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.Text1a {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:2.3em;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.Text2 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.Text3 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:2.5em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.TextInd {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	text-align:justify;
	text-indent:1em;
	widows:2;
}

p.TextInd5 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	text-indent:1em;
	widows:2;
}

p.TextInd1 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:justify;
	text-indent:1em;
	widows:2;
}

p.Chtit {
	font-size: 250%;
	font-style:normal;
	font-weight:bold;
	line-height:1.231;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right:0;
	margin-top: 0em;
	text-indent: 0em;
	orphans:2;
	color: #000000;
	text-align:left;
	widows:2;
}

span.Chno {
	font-size: 160%;
	font-style:normal;
	font-weight:bold;
	line-height:0.931;
	margin-bottom: 3em;
	margin-left:0;
	margin-right:0;
	vertical-align:middle;
	margin-top: 0em;
	orphans:2;
	color: #40a789;
	text-align:center;
	widows:2;
	float:right;
}

p.H1_Level1 {
	font-size:1.6em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:1.5em;
	text-indent:-1.5em;
	margin-right:0;
	color: #40a789;
	margin-top:1em;
	text-align:left;
	widows:2;
}

p.H2_Level2 {
	font-size:1.4em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:2.3em;
	text-indent:-2.3em;
	margin-right:0;
	color: #000000;
	margin-top:1em;
	text-align:left;
	widows:2;
}

ol.AList {
	font-size:100%;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:1.5em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-1.5em;
}

ol.AList li {padding-bottom: 0.2em;}


div.BlockQuote {
	font-size:90%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:1em;
	margin-top:0.5em;
	orphans:2;
	color: #0079c2;
	text-align:justify;
	widows:2;
}

div.BlockQuote1 {
	font-size:90%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:0em;
	margin-top:0.5em;
	orphans:2;
	color: #0079c2;
	text-align:justify;
	widows:2;
}

.Center {
	text-align:center;
	margin: .5em 0 .5em 0;
}

ol.RomanList {
	font-size:100%;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:1.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-1.8em;
}

ol.RomanList li {padding-bottom: 0.2em;}

ul.BList {
	font-size:1em;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:0.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}

ul.BList1 {
	font-size:1em;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}

ul.BaList {
	font-size:1em;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:1.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}

ol.NList {
	font-size:1em;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:0.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}

ol.NLista {
	font-size:1em;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:2em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-1em;
}

ol.NLista1 {
	font-size:1em;
	margin-top:0.8em;
	margin-bottom:0em;
	margin-left:2em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-1em;
}

.BlueText
{
	color: #286db9;
}


.grdot
{
	color: #40a789;
	font-size:1.4em;
}

.vidot
{
	color: #6182c2;
	font-size:1.4em;
}

.P5bluedot
{
	color: #5b74b8;
	font-size:1.4em;
}

.P5bluetxt
{
	color: #5b74b8;
	font-weight:normal;
}

.orangtxt
{
	color: #f47920;
	font-weight:bold;
}

.bluetxt
{
	color: #6183c2;
	font-weight:bold;
}

.red
{
	color: #d2232a;
	font-weight:bold;
}

.P4vidot
{
	color: #8071b3;
	font-size:1.4em;
}

.P4vitxt
{
	color: #8071b3;
	font-weight:normal;
}

.P4vitxtb
{
	color: #8071b3;
	font-weight:bold;
}


.greentxt
{
	color: #40a789;
	font-weight:bold;
}

.graytxt
{
	color: #938779;
	font-weight:bold;
}

.Figure {
	font-size:90%;
	font-style:normal;
	font-weight:bold;
	line-height:1.294;
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:center;
	widows:2;
page-break-inside: avoid;
}

p.images {
	text-align:center;
}

p.FigCapt {
	font-size:90%;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.FigSource {
	font-size:85%;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:center;
	widows:2;
}

p.Fig {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	text-align:center;
	widows:2;
}

table.Table1 {
	border-collapse:collapse;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	border-top: 0.2em solid #0079c2;
	border-bottom: 0.2em solid #0079c2;
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	widows:2;
}

table.Table1 td{padding: 0.5em; background-color: #dfefee;}
td.Dot {border-top: 0.1em dotted #0079c2;}

p.Tabcap {
	font-size:90%;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1.5em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.IN1 {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:1%;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:-1%;
}

p.IN2 {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:2%;
	margin-right:0;
	margin-top:0;
	text-align:left;
	text-indent:-1%;
}

p.IN3 {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:2.5em;
	margin-right:0;
	margin-top:0;
	text-align:left;
	text-indent:-1%;
}

.part {
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	padding:4em 4em 10em 4em;
	background-color: #40a789;
}

p.Partnumber {
	font-size:2.3em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0;
	text-align:left;
	text-indent:0;
}

p.Parttitle {
	font-size:2.3em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0;
	color: #ffffff;
}

p.partch1 {
	font-size:1.3em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:4em;
	text-align:left;
	text-indent:0;
	color: #ffffff;
}

p.partch {
	font-size:1.3em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0.5em;
	text-align:left;
	text-indent:0;
	color: #ffffff;
}

.black
{
	color: #000000;
}

.space
{
	margin-right:1em;
}

.fmspace1
{
	margin-right:0.6em;
}

.fmspace2
{
	margin-right:0.5em;
}

.fmspace2d
{
	margin-right:0.5em;
}

.fmspace3
{
	margin-right:1em;
}

.space1
{
	margin-right:0.4em;
}


p.Chau {
	font-size:180%;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0.9em;
	margin-left:0em;
	margin-right:0;
	margin-top:0.4em;
	text-align:left;
	text-indent:0;
	color: #000000;
}

p.Learntit {
	font-size:150%;
	font-style:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0;
	color: #40a789;
}

.frame_1 {
	vertical-align: top;
	width:6.6em !important;
	font-size:0.6em!important;
	float:left;
}

.frame_2 {
	vertical-align: top;
	width:4em !important;
	font-size:0.6em!important;
	float:left;
}

.frame_3 {
	vertical-align: top;
	width:5em !important;
	font-size:0.6em!important;
	float:left;
}

.frame_4 {
	vertical-align: middle;
	width:5em !important;
	font-size:0.6em!important;
	float:left;
}

.blueBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #bfe5eb;
	border-left:4em solid #bfe5eb;
	border-bottom:1em solid #bfe5eb;
	border-right:1em solid #bfe5eb;
}

p.blueBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0em;
	color: #00b6bd;
}

.blueBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	color: #000000;
}

.blueviBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #d5eefb;
	border-left:4em solid #a7b2d9;
	border-bottom:1em solid #a7b2d9;
	border-right:1em solid #d5eefb;
}

p.blueviBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0em;
	color: #6183c2;
}

.blueviBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

p.blueviBox_head2 {
	font-size:1.1em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0em;
	color: #6183c2;
}

p.blueviBox_head3 {
	font-size:1em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0.5em;
	margin-left:0em;
	margin-right:0;
	margin-top:0.5em;
	text-align:left;
	text-indent:0em;
	color: #000000;
}

.greenBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #f4f5dd;
	border-left:4em solid #99caab;
	border-bottom:1em solid #99caab;
	border-right:1em solid #f4f5dd;
}

p.greenBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0em;
	color: #3d976f;
}

.greenBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

.orangeBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #f9bb9f;
	border-left:4em solid #f9bb9f;
	border-bottom:1em solid #f9bb9f;
	border-right:1em solid #f9bb9f;
}

p.orangeBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #d2232a;
}

p.orangeBox_head2 {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #f47820;
}

.orangeBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

.grayBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #e4e6e9;
	border-left:4em solid #e4e6e9;
	border-bottom:1em solid #e4e6e9;
	border-right:1em solid #e4e6e9;
}

p.grayBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #d2232a;
}

p.grayBox_head2 {
	font-size:1em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #d2232a;
}

.grayBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

.viBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #d6bcda;
	border-left:4em solid #d6bcda;
	border-bottom:1em solid #d6bcda;
	border-right:1em solid #d6bcda;
}

p.viBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #7c51a1;
}

.viBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

.hr {
	border-bottom: 0.1em solid #000000;
	margin-bottom:0em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
}

p.summary {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0.6em;
	text-align:left;
	text-indent:0em;
	color: #40a789;
}

.blueline {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:0.2em solid #0079c1;
	border-bottom:0.2em solid #0079c1;
}

p.blueline_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #0079c1;
}

.blueline_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

p.Bm_head {
	font-size:1.4em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:2em;
	margin-left:0em;
	margin-right:0;
	margin-top:2em;
	text-align:left;
	text-indent:0em;
	color: #938779;
}

.parpleBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #efeee5;
	border-left:4em solid #efeee5;
	border-bottom:1em solid #efeee5;
	border-right:1em solid #efeee5;
}

p.parpleBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #938779;
}

.parpleBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0.4em;
	color: #000000;
}

p.parpleBox_subhead {
	font-size:1.1em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0em;
	color: #938779;
}

.yellowBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #fde6ae;
	border-left:4em solid #fde6ae;
	border-bottom:1em solid #fde6ae;
	border-right:1em solid #fde6ae;
}

p.yellowBox_head {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0em;
	color: #f47920;
}

p.yellowBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:1em;
	text-align:left;
	text-indent:0em;
	color: #f47920;
}

.P4part {
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	padding:4em 4em 10em 4em;
	background-color: #8071b3;
}

p.P4H1_Level1 {
	font-size:1.6em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:1.5em;
	text-indent:-1.5em;
	margin-right:0;
	color: #8071b3;
	margin-top:1em;
	text-align:left;
	widows:2;
}

p.P4H2_Level2 {
	font-size:1.4em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:2.3em;
	text-indent:-2.3em;
	margin-right:0;
	color: #000000;
	margin-top:1em;
	text-align:left;
	widows:2;
}


p.P4Learntit {
	font-size:150%;
	font-style:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0;
	color: #8071b3;
}

p.P4summary {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0.6em;
	text-align:left;
	text-indent:0em;
	color: #8071b3;
}

span.P4Chno {
	font-size: 160%;
	font-style:normal;
	font-weight:bold;
	line-height:0.931;
	margin-bottom: 3em;
	margin-left:0;
	margin-right:0;
	vertical-align:middle;
	margin-top: 0em;
	orphans:2;
	color: #8071b3;
	text-align:center;
	widows:2;
	float:right;
}

p.Source {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:right;
	widows:2;
}

p.Text0 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0em;
	orphans:2;
	text-align:justify;
	widows:2;
}


.P5part {
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	padding:4em 4em 10em 4em;
	background-color: #5b74b8;
}

p.P5H1_Level1 {
	font-size:1.6em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:1.5em;
	text-indent:-1.5em;
	margin-right:0;
	color: #5b74b8;
	margin-top:1em;
	text-align:left;
	widows:2;
}

p.P5H2_Level2 {
	font-size:1.4em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:2.3em;
	text-indent:-2.3em;
	margin-right:0;
	color: #000000;
	margin-top:1em;
	text-align:left;
	widows:2;
}


p.P5Learntit {
	font-size:150%;
	font-style:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0;
	color: #5b74b8;
}

p.P5summary {
	font-size:1.3em;
	font-style:normal;
	font-weight:bold;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0.6em;
	text-align:left;
	text-indent:0em;
	color: #5b74b8;
}

span.P5Chno {
	font-size: 160%;
	font-style:normal;
	font-weight:bold;
	line-height:0.931;
	margin-bottom: 3em;
	margin-left:0;
	margin-right:0;
	vertical-align:middle;
	margin-top: 0em;
	orphans:2;
	color: #5b74b8;
	text-align:center;
	widows:2;
	float:right;
}

p.Source {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:right;
	widows:2;
}

p.Text0 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0em;
	orphans:2;
	text-align:justify;
	widows:2;
}

div.P5BlockQuote {
	font-size:90%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:1em;
	margin-top:0.5em;
	orphans:2;
	color: #000000;
	text-align:justify;
	widows:2;
}

span.P2Chno {
	font-size: 160%;
	font-style:normal;
	font-weight:bold;
	line-height:0.931;
	margin-bottom: 3em;
	margin-left:0;
	margin-right:0;
	vertical-align:middle;
	margin-top: 0em;
	orphans:2;
	color: #4092c2;
	text-align:center;
	widows:2;
	float:right;
}

p.P2Learntit {
	font-size:150%;
	font-style:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0;
	color: #4092c2;
}

.bldot
{
	color: #4092c2;
	font-size:1.4em;
}

p.P2H1_Level1 {
	font-size:1.6em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:1.5em;
	text-indent:-1.5em;
	margin-right:0;
	color: #4092c2;
	margin-top:1em;
	text-align:left;
	widows:2;
}


p.ch3hang {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0.5em;
	margin-left:2.2em;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	text-indent:-1.2em;
	widows:2;
}


.P2red
{
color: #d2232a;
}

table.ch3table {
	border-collapse:collapse;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	widows:2;
}


.p2ch3orangeBox_head1 {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	color: #f47820;
}

.orangetxt
{
	color: #f47820;
	font-weight:bold;
}

div.P2BlockQuote {
	font-size:95%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:1em;
	margin-top:0.5em;
	orphans:2;
	color: #000000;
	text-align:justify;
	widows:2;
}

span.P3Chno {
	font-size: 160%;
	font-style:normal;
	font-weight:bold;
	line-height:0.931;
	margin-bottom: 3em;
	margin-left:0;
	margin-right:0;
	vertical-align:middle;
	margin-top: 0em;
	orphans:2;
	color: #d34c55;
	text-align:center;
	widows:2;
	float:right;
}
p.P3Learntit {
	font-size:150%;
	font-style:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0em;
	text-align:left;
	text-indent:0;
	color: #d34c55;
}
.P3grdot
{
	color: #d34c55;
	font-size:1.4em;
}

p.P3H1_Level1 {
	font-size:1.6em;
	font-style:normal;
	font-weight:bold;
	line-height:1.364;
	margin-bottom:1em;
	margin-left:1.5em;
	text-indent:-1.5em;
	margin-right:0;
	color: #d34c55;
	margin-top:1em;
	text-align:left;
	widows:2;
}
.P3redtext
{
	color: #d34c55;
	font-weight:bold;
}
.redtext{color:#d34c55;}
p.P3FigCapt {
	font-size:110%;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.P3Sources {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:right;
	widows:2;
}
div.P3BlockQuote {
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:1em;
	margin-left:2em;
	margin-right:1em;
	margin-top:0.5em;
	orphans:2;
	color: #000000;
	text-align:justify;
	widows:2;
}
p.P3tabhead { font-size:1em; font-style:normal; font-weight:normal; line-height:1.231; margin-bottom:0.5em; margin-left:0; margin-right:0; margin-top:0em; orphans:2; text-align:justify; widows:2; }
.P3table { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3table td:nth-child(1) {width:50%; }
.P3table td:nth-child(2) {width:50%; text-align:right;}
.P3tbor{border-top:0.1em solid #d34c55; border-bottom:0.1em solid #d34c55;}
.P3tbor1{border-bottom:0.1em dotted #d34c55;}
.P3tbor2{border-bottom:0.1em solid #d34c55;}
p.P3tabfoot { font-size:0.85em; font-style:normal; font-weight:normal; line-height:1.231; margin-bottom:0em; margin-left:0; margin-right:0; margin-top:0em; orphans:2; text-align:justify; widows:2; }
.P3tab { margin-top:1.5em; margin-bottom:1.5em; margin-left:4em; margin-right:4em; }
.P3blue{color:#296cac;}
.P3oratext{color:#f47920;}
.P3tab1 { margin-top:1.5em; margin-bottom:1.5em; margin-left:0em; margin-right:0em; }
.P3table1 { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3table1 td:nth-child(1) {width:20%; text-align:left;}
.P3table1 td:nth-child(2) {width:80%; text-align:left;}
.P3table2 { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3table2 td:nth-child(1) {width:33%; text-align:left; padding:0.2em;}
.P3table2 td:nth-child(2) {width:33%; text-align:left; padding:0.2em;}
.P3table2 td:nth-child(3) {width:34%; text-align:left; padding:0.2em;}


.P3table_g { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3table_g td:nth-child(1) {width:40%; }
.P3table_g td:nth-child(2) {width:20%; text-align:right;}
.P3table_g td:nth-child(3) {width:20%; text-align:right;}
.P3table_g td:nth-child(4) {width:20%; text-align:right;}

ul.BList1_g {
	font-size:1em;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:1.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}
.P3vitxt
{
	color: #7c51a1;
	font-weight:bold;
}

p.Half_title {
	font-size: 1.43em;
	font-style:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left: 0em;
	margin-right:0;
	margin-top: 4em;
	orphans:2;
	color: #000000;
	text-align:center;
	widows:2;
	text-indent:0em;
}

div._idGenObjectStyleOverride-1titl {
	margin-left: 1em;
}

p.Title {
	font-size: 2.8em;
	font-style:normal;
	font-weight:bold;
	line-height:1.25;
	margin-bottom:0;
	margin-left: 0em;
	margin-right:0;
	margin-top: 2em;
	orphans:2;
	color: #000000;
	text-align:left;
	widows:2;
}

p.Edition {
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
	line-height:1.538;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.Edition1 {
	font-size:1.3em;
	font-style:normal;
	font-weight:normal;
	line-height:1.538;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1.3em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.FM_Author {
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
	line-height:1.538;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.3em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.I_imprint-OUP {
	font-size:80%;
	font-style:normal;
	font-weight:normal;
	line-height:1.091;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	widows:2;
}

p.Normal {
	font-size:160%;
	font-style:normal;
	font-weight:normal;
	line-height:1.151;
	margin-bottom:0;
	margin-left:0%;
	margin-right:0;
	margin-top:6.5em;
	orphans:2;
	text-align:left;
	text-indent:0em;
	widows:2;
}

p.COPY1 {
	font-size: 1.5em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	text-align:center;
}

p.COPY0 {
	font-size: 0.5em;
	font-style:normal;
	font-weight:normal;
	line-height:1.091;
	margin-bottom:0;
	margin-left: 0em;
	margin-right:0;
	margin-top:.5em;
	letter-spacing: 0.2em;
	orphans:2;
	text-align: center;
	text-decoration:none;
	text-indent:0;
	widows:2;
}

p.COPY1 {
	font-size: 1.5em;
	font-style:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	text-align:center;
}

p.COPY {
	font-size:.75em;
	font-style:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:1;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}

p.Fmtitle {
	font-size:250%;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:left;
	widows:2;
	color:#000000;
}

p.Fmtitlea {
	font-size:250%;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:left;
	widows:2;
	color:#000000;
}


p.FMText {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.FMText {
	font-size:1.1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:justify;
	widows:2;
}

p.FMHange {
	font-size:1.1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	text-indent:-1em;
	margin-bottom:0;
	margin-left:2em;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	text-align:justify;
	widows:2;
}

.fmbluetext
{
	font-weight:bold;
	color:#5b74bf;
}

.fmbluetext1
{
	font-weight:bold;
	color:#2d4fa7;
}

.fmgraytext
{
	font-weight:bold;
	color:#b39a84;
}

p.Fm_subtitle {
	font-size:150%;
	font-style:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0.5em;
	margin-left:0.3em;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:left;
	widows:2;
	color:#d44c55;
}

p.Toc_level1 {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
	margin-left:0;
	margin-right:0;
	margin-bottom:0.1em;
	margin-top:0.1em;
	orphans:2;
	text-align:left;
	widows:2;
	color:#231f20;
}

p.Toc_level11 {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
	margin-left:0;
	margin-right:0;
	margin-bottom:0.1em;
	margin-top:1.1em;
	orphans:2;
	text-align:left;
	widows:2;
	color:#231f20;
}

p.Toc_pa {
	font-size:1.05em;
	font-style:normal;
	font-weight:bold;
	margin-left: 0em;
	text-indent:.0em;
	margin-right:0;
	margin-bottom:0.4em;
	padding-bottom:0.2em;
	margin-top:0.8em;
	orphans:2;
	text-align:left;
	widows:2;
}

.tocgrren
{
	color:#3fa78d;
}

.tocblue
{
	color:#4093c9;
}

.tocas
{
	color:#b39a6b;
	font-weight:bold;
}

.tocred
{
	color:#db5e5a;
	font-weight:bold;
}

.tocvio
{
	color:#8071b3;
	font-weight:bold;
}

.tocsky
{
	color:#6e74b8;
	font-weight:bold;
}

p.Toc_ch {
	font-size:0.9em;
	font-style:normal;
	font-weight:bold;
	margin-left: 1.3em;
	text-indent:-1.3em;
	margin-right:0;
	margin-bottom:0em;
	margin-top:0.6em;
	orphans:2;
	text-align:left;
	widows:2;
}

.tocspace3
{
	margin-right:0.8em;
}

.tocspace2
{
	margin-right:0.8em;
}

.tocspace4
{
	margin-right:0.4em;
}

p.Toc_chau {
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-left: 1.5em;
	text-indent:.0em;
	margin-right:0;
	margin-bottom:0em;
	margin-top:0em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.Toc_chaud {
	font-size:0.8em;
	font-style:normal;
	font-weight:normal;
	margin-left: 2em;
	text-indent:.0em;
	margin-right:0;
	margin-bottom:0em;
	margin-top:0em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.Toc_chlevel1 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	margin-left: 2.8em;
	text-indent:-2.0em;
	margin-right:0;
	margin-bottom:0em;
	margin-top:0.6em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.Toc_chlevel1d {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	margin-left: 2.6em;
	text-indent:-2.2em;
	margin-right:0;
	margin-bottom:0em;
	margin-top:0.6em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.Toc_chbm1 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	margin-left: 0em;
	text-indent:.0em;
	margin-right:0;
	margin-bottom:0.7em;
	margin-top:0.5em;
	orphans:2;
	text-align:left;
	widows:2;
}

.fmimg {
	vertical-align: top;
	width:16.6em !important;
	float:left;
}

table.D_Table td { vertical-align:top;
	padding:0.5em;
	}
table.D_Table>tr:nth-child(1){width:50%;}
table.D_Table>tr:nth-child(2){width:50%;}
table.D_Table {margin-top:0.5em;
	margin-bottom:0.5em;
	width:100%;
	border-collapse:collapse;
	}

p.D_Img {
	margin-top:1em;
	margin-bottom:1em;
}
p.D_h3 {
	font-size: 1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0.5em;
	margin-left:0;
	margin-right:0;
	margin-top:1.2em;
	text-align:left;
	color:#0079c2;
}

p.lof {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:2.9em;
	margin-right:0;
	text-indent:-2.4em;
	margin-top:0.5em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.lob {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:2.8em;
	margin-right:0;
	text-indent:-2.8em;
	margin-top:0.5em;
	orphans:2;
	text-align:left;
	widows:2;
}

table.Abbreviations {
	border-collapse:collapse;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	widows:2;
}



.P3tbor5{border-top:0.1em solid #d34c55;}
.P3table8 { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3table8 td:nth-child(1) {width:20%; padding: 0.2em; vertical-align:top;}
.P3table8 td:nth-child(2) {width:20%; padding: 0.2em; vertical-align:top;}
.P3table8 td:nth-child(3) {width:30%; padding: 0.2em; vertical-align:top;}
.P3table8 td:nth-child(4) {width:30%; padding: 0.2em; vertical-align:top;}


.P3tablema1 { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3tablema1 td:nth-child(1) {width:30%; }
.P3tablema1 td:nth-child(2) {width:40%; text-align:right;}
.P3tablema1 td:nth-child(3) {width:30%; text-align:right;}

.P3tablema2 { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3tablema2 td:nth-child(1) {width:20%; }
.P3tablema2 td:nth-child(2) {width:20%; text-align:center;}
.P3tablema2 td:nth-child(3) {width:20%; text-align:center;}
.P3tablema2 td:nth-child(4) {width:20%; text-align:center;}

.P3tablema3 { border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3tablema3 td:nth-child(1) {width:20%; }
.P3tablema3 td:nth-child(2) {width:20%; text-align:right;}
.P3tablema3 td:nth-child(3) {width:20%; text-align:right;}
.P3tablema3 td:nth-child(4) {width:20%; text-align:right;}

.P3tablema4 { margin-left:1em;border-collapse:collapse; width:100%; margin-bottom:0.5em; font-size:0.85em;}
.P3tablema4 td:nth-child(1) {width:30%; }
.P3tablema4 td:nth-child(2) {width:70%; }


ul.BListch7 {
	font-size:1em;
	margin-top:0.2em;
	margin-bottom:0.8em;
	margin-left:1.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}


p.Rightch7 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:right;
	widows:2;
}

.Ch7table { border-collapse:collapse; width:90%; margin-bottom:0.5em; margin-left:6%; margin-top:1.5em; font-size:0.85em;}
.Ch7table1 { border-collapse:collapse; width:100%; margin-bottom:0.5em; margin-top:1.5em; font-size:0.85em;}
.Ch7table18 { border-collapse:collapse; width:100%; margin-bottom:0.5em; margin-top:5em; font-size:0.85em;}

td.Right {text-align:right;}


p.Text1a {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:3.3em;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.Textl {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0em;
	orphans:2;
	text-align:left;
	widows:2;
}

.Ch7bluetxt
{
	color: #00b6bd;
	font-weight:normal;
}

ul.BListch71 {
	font-size:1em;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:1.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}

p.TextHead {
	font-size:110%;
	font-style:normal;
	font-weight:bold;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	color: #d2232a;
	text-align:left;
	widows:2;
}

ol.RomanList {
	font-size:1em;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left:1.1em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-1.1em;
}

.P4violet
{
	color: #7c51a1;
	font-weight:bold;
}

.space1ch7
{
	margin-right:0.2em;
}


p.FM-Text {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0.5;
	margin-left:0;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	widows:2;
}


ul.BFM-List {
	font-size:1.2em;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}

ul.BFM-List li{
	margin-top:0.4em;
}

p.P1FigCapt {
	font-size:110%;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:0em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	orphans:2;
	text-align:left;
	widows:2;
}

p.P1FigSource {
	font-size:85%;
	font-style:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:0em;
	margin-left:0;
	margin-right:0;
	margin-top:0.2em;
	orphans:2;
	text-align:left;
	widows:2;
}

.P3part {
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	padding:4em 4em 10em 4em;
	background-color: #d34c55;
}

p.FM_FMCT {
	font-size:180%;
	font-style:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	color: #000000;
	text-align:left;
	widows:2;
}

p.GloText {
	font-size:80%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0em;
	text-indent:0em;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	widows:2;
}
p.RefHead {
	font-size:180%;
	font-style:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:1.5em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	orphans:2;
	color: #938778;
	text-align:left;
	widows:2;
}

p.RefText {
	font-size:80%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0;
	margin-left:0.8em;
	text-indent:-0.8em;
	margin-right:0;
	margin-top:0.5em;
	orphans:2;
	text-align:justify;
	widows:2;
}
p.IDXH1 { font-size:140%; font-style:normal; font-weight:normal; line-height:1.231; margin-bottom:0.2em; margin-left:0; margin-right:0; margin-top:1em; orphans:2; text-align:justify; widows:2;  color:#b29965;}

p.IDX1 { font-size:0.8em; font-style:normal; font-weight:normal; line-height:1.231; margin-bottom:0; margin-left:1em; margin-right:0; margin-top:0em; orphans:2; text-align:justify; widows:2; text-indent:-1em;}

p.IDX2 { font-size:0.8em; font-style:normal; font-weight:normal; line-height:1.231; margin-bottom:0; margin-left:1.8em; margin-right:0; margin-top:0em; orphans:2; text-align:justify; widows:2; text-indent:-1em;}

p.TextIndA {
	font-size:1.2em;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0.5em;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	text-align:justify;
	text-indent:1em;
	widows:2;
}


ul.ch3BList {
	font-size:1em;
	margin-top:0.2em;
	margin-bottom:0em;
	margin-left:1.8em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-0.8em;
}


ol.p2ch3NList {
	font-size:1em;
	margin-top:0.8em;
	margin-bottom:0em;
	margin-left:1em;
line-height: 1.5em;
	margin-right:0em;
	padding:0em;
	text-align:justify;
	list-style-type:none;
	text-indent:-1em;
}


p.p2source
{
text-align: right;
}

.part2 {
	margin-bottom:2em;
	margin-left:0;
	margin-right:0;
	margin-top:2em;
	padding:4em 4em 10em 4em;
	background-color: #4092c2;
}



p.part2ch1 {
	font-size:1.3em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0em;
	margin-right:0;
	margin-top:0.5em;
	text-align:left;
	text-indent:0;
	color: #ffffff;
}

.lgyellowBox {
	margin-bottom:1em;
	margin-left:0;
	margin-right:0;
	margin-top:1em;
	padding:1em 1em 1em 1em;
	border-top:4em solid #fcfad9;
	border-left:4em solid #fcfad9;
	border-bottom:1em solid #fcfad9;
	border-right:1em solid #fcfad9;
}


.P2BlockQuote .Text0{
	font-size:95%;
	font-style:normal;
	font-weight:normal;
	line-height:1.231;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:1em;
	margin-top:0em;
	orphans:2;
	color: #000000;
	text-align:justify;
	widows:2;
}
