@font-face {
font-family: AdobeArabic;
src: url("fonts/AdobeArabic-Regular.otf");
}

@font-face {
font-family: AdobeArabic;
src: url("fonts/AdobeArabic-Bold.otf");
font-weight:bold;
}

@font-face {
font-family: AdobeArabic;
src: url("fonts/AdobeArabic-BoldItalic.otf");
font-style:italic;
font-weight:bold;
}

@font-face {
font-family: AdobeArabic;
src: url("fonts/AdobeArabic-Italic.otf");
font-style:italic;
}
@font-face {
font-family: FrutigerLTStd-Roman;
src: url("fonts/FrutigerLTStd-Roman.otf");
}
@font-face {
font-family: FrutigerLTStd-Italic;
src: url("fonts/FrutigerLTStd-Italic.otf");
}
@font-face {
font-family: FrutigerLTStd-Bold;
src: url("fonts/FrutigerLTStd-Bold.otf");
}
@font-face {
font-family: FrutigerLTStd-BoldItalic;
src: url("fonts/FrutigerLTStd-BoldItalic.otf");
}
@font-face {
font-family: FrutigerLTStd-Light;
src: url("fonts/FrutigerLTStd-Light.otf");
}
body
{
	text-align: right;
        font-family: "AdobeArabic !important","FrutigerLTStd-Light";
}
p
{
	margin-top: 0em;
	margin-bottom: 0em;
	text-indent: 0em;
	text-align: right;
        font-size: 100%;
}
a
{
	text-decoration: none;
        color: #000000;
}

.icolor
{
	color:inherit;
}
.inline
{
vertical-align:middle;
}

.copy
{
	text-indent:0px;
	margin-top:1em;
	margin-bottom:0px;
	margin-left:0em;
	text-align:right;
	text-indent:0em;
	font-size: 80%;
}

.copy1
{
	text-indent:0px;
	margin-top:0.2em;
	margin-bottom:0px;
	margin-left:0em;
	text-align:right;
	text-indent:0em;
	font-size: 80%;
}
.copya
{
	text-indent:0em;
	margin-top: 23%;
	margin-bottom:0px;
	margin-left:0em;
	text-align:right;
	text-indent:0em;
	font-size: 80%;
}
.toc
{
	text-indent:0px;
	margin-top:0.2em;
	margin-bottom:0px;
	margin-left:0em;
	text-align:right;
	text-indent:0em;
	font-size:100%;
}

.toc1
{
	font-size:100%;
	text-indent:0px;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:1.85em;
	text-indent:0em;
	text-align:right;
}

.toc2
{
	font-size:100%;
	text-indent:0px;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:1em;
	text-indent:0em;
	text-align:right;
}


.noindent
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}


.noindent1
{
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}

.indent
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:1em;
	text-align: right;
}

.indent1
{
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:1.5em;
	text-align: right;
}


.center
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:center;
}


.center1
{
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:center;
}

.fig
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:center;
}
.figb
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:center;
}




.fm-title
{
	font-size:180%;
	font-weight:bold;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#8b2e1d;
}

.fmh1
{
	font-size:120%;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 0.4em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#8b2e1d;
	border-bottom:solid #8b2e1d 2px;
}
.fmh1b
{
	font-size:120%;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 0.4em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#8b2e1d;
}
.fmh1a
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	border-bottom:solid #8b2e1d 2px;
}

.ch-title
{
	font-size:180%;
	font-weight:bold;
	margin-top: 0em;
	margin-bottom: 2em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}
.ch-titlea
{
	font-size:180%;
	font-weight:bold;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}

.h1
{
	font-weight:bold;
	font-size:120%;
	margin-top: 0.2em;
	margin-bottom: 0.4em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#8b2e1d;
}

.h2
{
	font-size:120%;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#f9a350;
}

.h21
{
	font-size:120%;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#006a51;
}

.h3
{
	font-size:110%;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#f9a350;
}


sup
{
 	vertical-align: top;       
        font-size:70%;
}
.underline{text-decoration:underline}


.nl
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0px;
	margin-right: 1em;
	text-indent:-1em;
	text-align:right;
}

ul
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0px;
	margin-right: -0.8em;
	text-indent:0px;
	text-align: right;
}

.box1
{
	font-size:150%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	background-color:#bb846d;
	color:#FFFFFF;
	padding:1em;
}


.box
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	background-color:#ebdbd5;
	padding:1em;
}

.box-head1
{
	font-size:110%;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}

.box-head
{
	font-size:110%;
	font-weight:bold;
	margin-top: 0em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	border-bottom:solid 2px #8b1a1d;
}

.bxh1
{
	font-size:100%;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 0.2em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#8b1a1d;
}

.box-text1
{
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
}
.box-text
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:1em;
}

.box-src1
{
	font-size:80%;
	margin-top: 2em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
}

.box-src
{
	font-size:80%;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
}

.en
{
	font-size:80%;
	margin-top: 0.7em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}

.ref
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:1em;
	margin-right: 0em;
	text-indent:-1em;
	text-align:left;
        font-family: FrutigerLTStd-Roman;
        font-size: 8pt;
}
.ref > i
{
        font-family: FrutigerLTStd-Italic;
        font-style: normal;
}
.ref > b
{
        font-family: FrutigerLTStd-Bold;
}
.ref > b > i
{
        font-family: FrutigerLTStd-BoldItalic;
	font-style: normal;
}
.sig
{
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:left;
}


.right
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:left;
}


.fig-img
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
	text-align:left;
}

.table
{
	margin-top: 1em;
	margin-bottom: 0em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
}

td{vertical-align:top;}

.tdr
{
	padding-right:2em;
}



.fmhshad
{
border-bottom: 10pt solid #d2ad9c;
margin-top: 1.4em;
margin-bottom:0.5em;
width:6%;
}

.chshad
{
border-bottom: 10pt solid #006a51;
margin-top: 1.4em;
margin-bottom:0.5em;
width:6%;
}
.bmhshad
{
border-bottom: 10pt solid #f9a350;
margin-top: 1.4em;
margin-bottom:0.5em;
width:6%;
}

.hh1
{
	font-weight:bold;
	font-size:120%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
	color:#8b2e1d;
}
.pagebreak
{
        page-break-after: always;
}
div.box-bb
{
padding: .5em;
background-color:#ebddd6;
}
.b-title
{
	font-size:150%;
	font-weight:bold;
	margin-top: 0em;
	margin-bottom: 1.2em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}
.bch-title
{
	font-size:180%;
	font-weight:bold;
	margin-top: 0em;
	margin-bottom: 0.2em;
	margin-left:0em;
	margin-right: 0em;
	text-align: right;
}
.table1
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left:0em;
	margin-right: 0em;
	text-indent:0em;
}
span.engfont
{
        font-family: "FrutigerLTStd-Light";
}