.page004_1 {
  top: 61px;
  left: 631px;
  font-family: "ArialNarrow-Bold";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

.page003_3 b{font-family: "ArialNarrow-Bold"; }

.page004_2 {
  top: 61px;
  left: 558px;
  font-family: "ArialNarrow-Italic";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: center;
  letter-spacing: 1px;
}

.page004_3 b{font-family: "ArialNarrow-Bold"; }
.page004_3 b>span:nth-child(1){margin-right: 1px;}
.page004_3 b>span:nth-child(2){margin-right: 9px;}
.page004_3 span{margin-right: 1px;}
.page004_3 {
  top: 259px;
  left: 137px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 260px;
  text-indent: -64px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_4s span {margin-right: 0px;}
.page004_4s>span:nth-child(1){margin-right: 5px;}
.page004_4s {
  top: 292px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_5s span {margin-right: 0px;}
.page004_5s>span:nth-child(1){margin-right: 5px;}
.page004_5s {
  top: 309px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_6>span:nth-child(1){margin-right: 5px;}
.page004_6 span {margin-right: 0.45px;}
.page004_6 {
  top: 326px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_7 {
  top: 342px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_7 span {margin-right: 0.7px;}

.page004_8 {
  top: 359px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_8 span {margin-right: 0.7px;}

.page004_9s span {margin-right: 0px;}
.page004_9s>span:nth-child(1){margin-right: 5px;}
.page004_9s {
  top: 375px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_10s span {margin-right: 0px;}
.page004_10s>span:nth-child(1){margin-right: 5px;}
.page004_10s {
  top: 375px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_11s span {margin-right: 0px;}
.page004_11s>span:nth-child(1){margin-right: 5px;}
.page004_11s {
  top: 393px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_12s span {margin-right: 0px;}
.page004_12s>span:nth-child(1){margin-right: 5px;}
.page004_12s {
  top: 393px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_13>span:nth-child(1){margin-right: 5px;}
.page004_13 span {margin-right: 1.49px;}
.page004_13 {
  top: 410px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_14 {
  top: 426px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_14 span {margin-right: 0.3px;}

.page004_15 {
  top: 442px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_15 span {margin-right: 1.1px;}

.page004_16 {
  top: 459px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_16 span {margin-right: 0.6px;}

.page004_17 {
  top: 476px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_17 span {margin-right: 0.6px;}

.page004_18s span {margin-right: 0px;}
.page004_18s>span:nth-child(1){margin-right: 5px;}
.page004_18s {
  top: 493px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_19s span {margin-right: 0px;}
.page004_19s>span:nth-child(1){margin-right: 5px;}
.page004_19s {
  top: 493px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_20s span {margin-right: 0px;}
.page004_20s>span:nth-child(1){margin-right: 5px;}
.page004_20s {
  top: 509px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_21s span {margin-right: 0px;}
.page004_21s>span:nth-child(1){margin-right: 5px;}
.page004_21s {
  top: 509px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_6>span:nth-child(1){margin-right: 5px;}
.page004_6 span {margin-right: 0.45px;}
.page004_6 {
  top: 326px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_22>span:nth-child(1){margin-right: 5px;}
.page004_22 span {margin-right: 0.3px;}
.page004_22 {
  top: 526px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_23 {
  top: 542px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_23 span {margin-right: -0.8px;}

.page004_24 {
  top: 559px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_24 span {margin-right: -0.4px;}

.page004_25s span {margin-right: 0px;}
.page004_25s>span:nth-child(1){margin-right: 5px;}
.page004_25s {
  top: 575px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_26s span {margin-right: 0px;}
.page004_26s>span:nth-child(1){margin-right: 5px;}
.page004_26s {
  top: 575px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_27s span {margin-right: 0px;}
.page004_27s>span:nth-child(1){margin-right: 5px;}
.page004_27s {
  top: 593px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_28s span {margin-right: 0px;}
.page004_28s>span:nth-child(1){margin-right: 5px;}
.page004_28s {
  top: 593px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_6>span:nth-child(1){margin-right: 5px;}
.page004_6 span {margin-right: 0.45px;}
.page004_6 {
  top: 326px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_29>span:nth-child(1){margin-right: 5px;}
.page004_29 span {margin-right: -0.6px;}
.page004_29 {
  top: 609px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_30 {
  top: 626px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_30 span {margin-right: 0.5px;}

.page004_31 {
  top: 642px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_31 span {margin-right: 1.4px;}

.page004_32 {
  top: 659px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_32 span {margin-right: 0.0px;}

.page004_33a span {margin-right: 0px;}
.page004_33a>span:nth-child(1){margin-right: 5px;}
.page004_33a {
  top: 675px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_34a span {margin-right: 0px;}
.page004_34a>span:nth-child(1){margin-right: 5px;}
.page004_34a {
  top: 675px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_35a span {margin-right: 0px;}
.page004_35a>span:nth-child(1){margin-right: 5px;}
.page004_35a {
  top: 693px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_36a span {margin-right: 0px;}
.page004_36a>span:nth-child(1){margin-right: 5px;}
.page004_36a {
  top: 693px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_37>span:nth-child(1){margin-right: 5px;}
.page004_37 span {margin-right: 1.95px;}
.page004_37 {
  top: 709px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_38 {
  top: 726px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_38 span {margin-right: 0.0px;}

.page004_39s span {margin-right: 0px;}
.page004_39s>span:nth-child(1){margin-right: 5px;}
.page004_39s {
  top: 742px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_40s span {margin-right: 0px;}
.page004_40s>span:nth-child(1){margin-right: 5px;}
.page004_40s {
  top: 759px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_41s span {margin-right: 0px;}
.page004_41s>span:nth-child(1){margin-right: 5px;}
.page004_41s {
  top: 776px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_42s span {margin-right: -1px;}
.page004_42s>span:nth-child(1){margin-right: 5px;}
.page004_42s {
  top: 793px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 300px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_43sp {
  top: 809px;
  left: 128px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 300px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_s1 span {margin-right: 0px;}
.page004_s1>span:nth-child(4){margin-right: 2px;}
.page004_s1>span:nth-child(1){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page004_s1>span:nth-child(2){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page004_s1>span:nth-child(3){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page004_s1>span:nth-child(4){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}

.page004_s1 {
  top: 794px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_s2 span {margin-right: -2px;}

.page004_s2 {
  top: 812px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s3 span {margin-right: 0px;}

.page004_s3 {
  top: 828px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}



.page004_s4>span:nth-child(1){margin-right: 5px;}
.page004_s4 span {margin-right: 0px;}

.page004_s4 {
  top: 850px;
  left: 430px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s5 span {margin-right: -1px;}

.page004_s5 {
  top: 866px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s6 span {margin-right: 0px;}

.page004_s6 {
  top: 883px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s7 span {margin-right: 0px;}
.page004_s7>span:nth-child(1){margin-right: 5px;}

.page004_s7 {
  top: 900px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s8 span {margin-right: 0px;}
.page004_s8>span:nth-child(1){margin-right: 5px;}

.page004_s8 {
  top: 901px;
  left: 592px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s9 span {margin-right: 0px;}
.page004_s9>span:nth-child(1){margin-right: 5px;}

.page004_s9 {
  top: 917px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s10 span {margin-right: 0px;}
.page004_s10>span:nth-child(1){margin-right: 5px;}

.page004_s10 {
  top: 917px;
  left: 592px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s11>span:nth-child(1){margin-right: 5px;}
.page004_s11 span {margin-right: 0.5px;}

.page004_s11 {
  top: 933px;
  left: 430px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_s12 span {margin-right: 0px;}

.page004_s12 {
  top: 949px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_a1>span:nth-child(1){margin-right: 5px;}
.page004_a1 span {margin-right: 1.5px;}

.page004_a1 {
  top: 723px;
  left: 430px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_a2 span {margin-right: 0px;}

.page004_a2 {
  top: 739px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_a3 span {margin-right: 0px;}
.page004_a3>span:nth-child(1){margin-right: 3px;}

.page004_a3 {
  top: 755px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_a4 span {margin-right: 0px;}
.page004_a4>span:nth-child(1){margin-right: 3px;}

.page004_a4 {
  top: 755px;
  left: 592px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_a5 span {margin-right: 0px;}
.page004_a5>span:nth-child(1){margin-right: 3px;}

.page004_a5 {
  top: 771px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_a6 span {margin-right: 0px;}
.page004_a6>span:nth-child(1){margin-right: 4px;}

.page004_a6 {
  top: 772px;
  left: 592px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_b1>span:nth-child(1){margin-right: 5px;}
.page004_b1 span {margin-right: 0.5px;}

.page004_b1 {
  top: 657px;
  left: 430px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_b2 span {margin-right: 0px;}

.page004_b2 {
  top: 673px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_b3 span {margin-right: 0px;}
.page004_b3>span:nth-child(1){margin-right: 5px;}

.page004_b3 {
  top: 689px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_b4 span {margin-right: 0px;}
.page004_b4>span:nth-child(1){margin-right: 3px;}

.page004_b4 {
  top: 690px;
  left: 592px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_b5 span {margin-right: 0px;}
.page004_b5>span:nth-child(1){margin-right: 3px;}

.page004_b5 {
  top: 706px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_b6 span {margin-right: 0px;}
.page004_b6>span:nth-child(1){margin-right: 4px;}

.page004_b6 {
  top: 706px;
  left: 592px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_c1>span:nth-child(1){margin-right: 5px;}
.page004_c1 span {margin-right: 0px;}

.page004_c1 {
  top: 607px;
  left: 430px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_c2 span {margin-right: 0px;}
.page004_c2>span:nth-child(1){margin-right: 3px;}

.page004_c2 {
  top: 623px;
  left: 438px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_c3 span {margin-right: 0px;}
.page004_c3>span:nth-child(1){margin-right: 3px;}

.page004_c3 {
  top: 624px;
  left: 591px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_c4 span {margin-right: 0px;}
.page004_c4>span:nth-child(1){margin-right: 3px;}

.page004_c4 {
  top: 640px;
  left: 438px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_c5 span {margin-right: 0px;}
.page004_c5>span:nth-child(1){margin-right: 3px;}

.page004_c5 {
  top: 640px;
  left: 591px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_d1 b>span:nth-child(1){margin-right: 2px;}
.page004_d1 b{font-family: "arial-bolditalicmt"; font-size: 12px;}

.page004_d1 span {margin-right: -1.5px;}

.page004_d1 {
  top: 571px;
  left: 424px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_d2 span {margin-right: 0px;}

.page004_d2 {
  top: 588px;
  left: 424px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_1 {
  top: 61px;
  left: 631px;
  font-family: "ArialNarrow-Bold";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

.page003_3 b{font-family: "ArialNarrow-Bold"; }

.page004_2 {
  top: 61px;
  left: 558px;
  font-family: "ArialNarrow-Italic";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: center;
  letter-spacing: 1px;
}

.page004_3 b{font-family: "ArialNarrow-Bold"; }
.page004_3 b>span:nth-child(1){margin-right: 1px;}
.page004_3 b>span:nth-child(2){margin-right: 9px;}
.page004_3 span{margin-right: 1px;}
.page004_3 {
  top: 259px;
  left: 137px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 260px;
  text-indent: -64px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_4s span {margin-right: 0px;}
.page004_4s>span:nth-child(1){margin-right: 5px;}
.page004_4s {
  top: 292px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_5s span {margin-right: 0px;}
.page004_5s>span:nth-child(1){margin-right: 5px;}
.page004_5s {
  top: 309px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_6>span:nth-child(1){margin-right: 5px;}
.page004_6 span {margin-right: 0.45px;}
.page004_6 {
  top: 326px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_7 {
  top: 342px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_7 span {margin-right: 0.7px;}

.page004_8 {
  top: 359px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_8 span {margin-right: 0.7px;}

.page004_9s span {margin-right: 0px;}
.page004_9s>span:nth-child(1){margin-right: 5px;}
.page004_9s {
  top: 375px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_10s span {margin-right: 0px;}
.page004_10s>span:nth-child(1){margin-right: 5px;}
.page004_10s {
  top: 375px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_11s span {margin-right: 0px;}
.page004_11s>span:nth-child(1){margin-right: 5px;}
.page004_11s {
  top: 393px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_12s span {margin-right: 0px;}
.page004_12s>span:nth-child(1){margin-right: 5px;}
.page004_12s {
  top: 393px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_13>span:nth-child(1){margin-right: 5px;}
.page004_13 span {margin-right: 1.49px;}
.page004_13 {
  top: 410px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_14 {
  top: 426px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_14 span {margin-right: 0.3px;}

.page004_15 {
  top: 442px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_15 span {margin-right: 1.1px;}

.page004_16 {
  top: 459px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_16 span {margin-right: 0.6px;}

.page004_17 {
  top: 476px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_17 span {margin-right: 0.6px;}

.page004_18s span {margin-right: 0px;}
.page004_18s>span:nth-child(1){margin-right: 5px;}
.page004_18s {
  top: 493px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_19s span {margin-right: 0px;}
.page004_19s>span:nth-child(1){margin-right: 5px;}
.page004_19s {
  top: 493px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_20s span {margin-right: 0px;}
.page004_20s>span:nth-child(1){margin-right: 5px;}
.page004_20s {
  top: 509px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_21s span {margin-right: 0px;}
.page004_21s>span:nth-child(1){margin-right: 5px;}
.page004_21s {
  top: 509px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_6>span:nth-child(1){margin-right: 5px;}
.page004_6 span {margin-right: 0.45px;}
.page004_6 {
  top: 326px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_22>span:nth-child(1){margin-right: 5px;}
.page004_22 span {margin-right: 0.3px;}
.page004_22 {
  top: 526px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_23 {
  top: 542px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_23 span {margin-right: -0.8px;}

.page004_24 {
  top: 559px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_24 span {margin-right: -0.4px;}

.page004_25s span {margin-right: 0px;}
.page004_25s>span:nth-child(1){margin-right: 5px;}
.page004_25s {
  top: 575px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_26s span {margin-right: 0px;}
.page004_26s>span:nth-child(1){margin-right: 5px;}
.page004_26s {
  top: 575px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_27s span {margin-right: 0px;}
.page004_27s>span:nth-child(1){margin-right: 5px;}
.page004_27s {
  top: 593px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_28s span {margin-right: 0px;}
.page004_28s>span:nth-child(1){margin-right: 5px;}
.page004_28s {
  top: 593px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_6>span:nth-child(1){margin-right: 5px;}
.page004_6 span {margin-right: 0.45px;}
.page004_6 {
  top: 326px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_29>span:nth-child(1){margin-right: 5px;}
.page004_29 span {margin-right: -0.6px;}
.page004_29 {
  top: 609px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_30 {
  top: 626px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_30 span {margin-right: 0.5px;}

.page004_31 {
  top: 642px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_31 span {margin-right: 1.4px;}

.page004_32 {
  top: 659px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_32 span {margin-right: 0.0px;}

.page004_33a span {margin-right: 0px;}
.page004_33a>span:nth-child(1){margin-right: 5px;}
.page004_33a {
  top: 675px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_34a span {margin-right: 0px;}
.page004_34a>span:nth-child(1){margin-right: 5px;}
.page004_34a {
  top: 675px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_35a span {margin-right: 0px;}
.page004_35a>span:nth-child(1){margin-right: 5px;}
.page004_35a {
  top: 693px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_36a span {margin-right: 0px;}
.page004_36a>span:nth-child(1){margin-right: 5px;}
.page004_36a {
  top: 693px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_37>span:nth-child(1){margin-right: 5px;}
.page004_37 span {margin-right: 1.95px;}
.page004_37 {
  top: 709px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_38 {
  top: 726px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_38 span {margin-right: 0.0px;}

.page004_39s span {margin-right: 0px;}
.page004_39s>span:nth-child(1){margin-right: 5px;}
.page004_39s {
  top: 742px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_40s span {margin-right: 0px;}
.page004_40s>span:nth-child(1){margin-right: 5px;}
.page004_40s {
  top: 759px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_41s span {margin-right: 0px;}
.page004_41s>span:nth-child(1){margin-right: 5px;}
.page004_41s {
  top: 776px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_42s span {margin-right: 1px;}
.page004_42s>span:nth-child(1){margin-right: 5px;}
.page004_42s {
  top: 793px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 321px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_43sp {
  top: 809px;
  left: 141px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 300px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_44dir span {margin-right: -1px;}
.page004_44dir>span:nth-child(1){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: -1.8px;}
.page004_44dir>span:nth-child(2){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: -1.8px;}
.page004_44dir>span:nth-child(3){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: -0.0px;}
.page004_44dir>span:nth-child(4){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: 13px;}
.page004_44dir {
  top: 832px;
  left: 72px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 340px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_45dira {
  top: 848px;
  left: 72px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 340px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_46>span:nth-child(1){margin-right: 5px;}
.page004_46 span {margin-right: 2.55px;}
.page004_46 {
  top: 870px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_47 {
  top: 886px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_47 span {margin-right: 0.0px;}

.page004_48s span {margin-right: 0px;}
.page004_48s>span:nth-child(1){margin-right: 5px;}
.page004_48s {
  top: 903px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_49s span {margin-right: 0px;}
.page004_49s>span:nth-child(1){margin-right: 5px;}
.page004_49s {
  top: 903px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_50s span {margin-right: 0px;}
.page004_50s>span:nth-child(1){margin-right: 5px;}
.page004_50s {
  top: 920px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_51s span {margin-right: 0px;}
.page004_51s>span:nth-child(1){margin-right: 5px;}
.page004_51s {
  top: 920px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_52>span:nth-child(1){margin-right: 5px;}
.page004_52 span {margin-right: 2.65px;}
.page004_52 {
  top: 937px;
  left: 78px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_53 {
  top: 953px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_53 span {margin-right: 0.6px;}

.page004_54 {
  top: 327px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_54 span {margin-right: 1.4px;}

.page004_55 {
  top: 343px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_55 span {margin-right: 0.0px;}

.page004_56s span {margin-right: 0px;}
.page004_56s>span:nth-child(1){margin-right: 5px;}
.page004_56s {
  top: 360px;
  left: 436px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_57s span {margin-right: 0px;}
.page004_57s>span:nth-child(1){margin-right: 5px;}
.page004_57s {
  top: 360px;
  left: 590px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_58s span {margin-right: 0px;}
.page004_58s>span:nth-child(1){margin-right: 5px;}
.page004_58s {
  top: 377px;
  left: 436px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_59s span {margin-right: 0px;}
.page004_59s>span:nth-child(1){margin-right: 5px;}
.page004_59s {
  top: 377px;
  left: 590px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page004_60 b{font-family: "ArialNarrow-Bold"; }
.page004_60 b>span:nth-child(1){margin-right: 1px;}
.page004_60 b>span:nth-child(2){margin-right: 11px;}
.page004_60 span{margin-right: 0.5px;}
.page004_60 {
  top: 275px;
  left: 488px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 260px;
  text-indent: -64px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_61 {
  top: 291px;
  left: 553px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 260px;
  text-indent: -64px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_61 span{margin-right: 4.5px;}

.page004_62 {
  top: 307px;
  left: 553px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 260px;
  text-indent: -64px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_62 span{margin-right: 4.5px;}

.page004_63>span:nth-child(1){margin-right: 5px;}
.page004_63 span {margin-right: 1.0px;}
.page004_63 {
  top: 394px;
  left: 428px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_64 {
  top: 410px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_64 span {margin-right: -0.8px;}

.page004_65 {
  top: 427px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_65 span {margin-right: -0.5px;}

.page004_66 {
  top: 444px;
  left: 455px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_66 span {margin-right: -0.5px;}


.page004_67s span {margin-right: 0px;}
.page004_67s>span:nth-child(1){margin-right: 5px;}
.page004_67s {
  top: 460px;
  left: 436px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_68s span {margin-right: 0px;}
.page004_68s>span:nth-child(1){margin-right: 5px;}
.page004_68s {
  top: 460px;
  left: 590px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_69s span {margin-right: 0px;}
.page004_69s>span:nth-child(1){margin-right: 5px;}
.page004_69s {
  top: 477px;
  left: 436px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_70s span {margin-right: 0px;}
.page004_70s>span:nth-child(1){margin-right: 5px;}
.page004_70s {
  top: 477px;
  left: 590px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_71dir span {margin-right: 2px;}
.page004_71dir>span:nth-child(1){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: 0.2px;}
.page004_71dir>span:nth-child(2){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: 4.2px;}
.page004_71dir>span:nth-child(3){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: -0.0px;}
.page004_71dir>span:nth-child(4){color: #ffffff;font-family: "TimesNewRomanPS-BoldItalic";margin-right: 12px;}
.page004_71dir {
  top: 499px;
  left: 425px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 340px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page004_72dira {
  top: 516px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 340px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_72dira span {margin-right: 2px;}

.page004_73dira {
  top: 532px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 340px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_73dira span {margin-right: 1.6px;}

.page004_74dira {
  top: 549px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 340px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}
.page004_74dira span {margin-right: 0px;}

code{font-family: "TimesNewRomanPSMT";}


.page004_74
{top: 91px;left: 102px;padding:0.0em;border: solid 2px inherit;width: 280px;height: 126px;page-break-inside: avoid;position: absolute;}

.page004_75
{top: 90px;left: 453px;padding:0.0em;border: solid 2px inherit;width: 291px;height: 141px;page-break-inside: avoid;position: absolute;}

#demo{margin-top: -62em;margin-left: 321px;position: absolute;font-weight: bold;}
