.page006_1 {
  top: 61px;
  left: 631px;
  font-family: "ArialNarrow-Bold";
  font-size: 11px;
  word-spacing: 0px;
  width: 200px;
  text-indent: 0px;
  position: absolute;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
}

.page006_2 span {margin-right: 1px;}
.page006_2 {
  top: 56px;
  left: 631px;
  font-family: "ArialNarrow-Italic";
  font-size: 13px;
  width: 309px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
  line-height: 20px;
}

.page006_3 span {margin-right: 0px;}
.page006_3>span:nth-child(1){margin-right: 5px;}

.page006_3 {
  top: 88px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_4 span {margin-right: 0px;}
.page006_4>span:nth-child(1){margin-right: 5px;}

.page006_4 {
  top: 88px;
  left: 240px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_5 span {margin-right: 0px;}
.page006_5>span:nth-child(1){margin-right: 5px;}

.page006_5 {
  top: 104px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_6 span {margin-right: 0px;}
.page006_6>span:nth-child(1){margin-right: 5px;}

.page006_6 {
  top: 104px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_7>span:nth-child(1){margin-right: 4px;}
.page006_7 span {margin-right: -1.5px;}

.page006_7 {
  top: 121px;
  left: 79px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_8 span {margin-right: -1.5px;}

.page006_8 {
  top: 138px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_9 span {margin-right: 0px;}

.page006_9 {
  top: 155px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_10 span {margin-right: 0px;}
.page006_10>span:nth-child(1){margin-right: 5px;}

.page006_10 {
  top: 171px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_11 span {margin-right: 0px;}
.page006_11>span:nth-child(1){margin-right: 5px;}

.page006_11 {
  top: 171px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_12 span {margin-right: 0px;}
.page006_12>span:nth-child(1){margin-right: 5px;}

.page006_12 {
  top: 188px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_13 span {margin-right: 0px;}
.page006_13>span:nth-child(1){margin-right: 5px;}

.page006_13 {
  top: 188px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_14 span {margin-right: 6px;}
.page006_14>span:nth-child(4){margin-right: 12px;}
.page006_14>span:nth-child(1){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_14>span:nth-child(2){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_14>span:nth-child(3){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_14>span:nth-child(4){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}

.page006_14 {
  top: 213px;
  left: 72px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page006_15 span {margin-right: 2px;}

.page006_15 {
  top: 229px;
  left: 71px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}



.page006_16>span:nth-child(1){margin-right: 4px;}
.page006_16 span {margin-right: px;}

.page006_16 {
  top: 252px;
  left: 79px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_17 span {margin-right: -1.5px;}

.page006_17 {
  top: 268px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_18 span {margin-right: 0px;}
.page006_18>span:nth-child(1){margin-right: 5px;}

.page006_18 {
  top: 285px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_19 span {margin-right: 0px;}
.page006_19>span:nth-child(1){margin-right: 5px;}

.page006_19 {
  top: 285px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_20 span {margin-right: 0px;}
.page006_20>span:nth-child(1){margin-right: 5px;}

.page006_20 {
  top: 302px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_21 span {margin-right: 0px;}
.page006_21>span:nth-child(1){margin-right: 5px;}

.page006_21 {
  top: 302px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_22>span:nth-child(1){margin-right: 4px;}
.page006_22 span {margin-right: 0.5px;}

.page006_22 {
  top: 319px;
  left: 79px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_23 span {margin-right: 0px;}

.page006_23 {
  top: 336px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_24 span {margin-right: 0px;}
.page006_24>span:nth-child(1){margin-right: 5px;}

.page006_24 {
  top: 353px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_25 span {margin-right: 0px;}
.page006_25>span:nth-child(1){margin-right: 5px;}

.page006_25 {
  top: 354px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_26 span {margin-right: 0px;}
.page006_26>span:nth-child(1){margin-right: 5px;}

.page006_26 {
  top: 371px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_27 span {margin-right: 0px;}
.page006_27>span:nth-child(1){margin-right: 5px;}

.page006_27 {
  top: 371px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_28>span:nth-child(1){margin-right: 4px;}
.page006_28 span {margin-right: 1px;}

.page006_28 {
  top: 389px;
  left: 79px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_29 span {margin-right: 0px;}

.page006_29 {
  top: 406px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_30 span {margin-right: 0px;}
.page006_30>span:nth-child(1){margin-right: 5px;}

.page006_30 {
  top: 424px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_31 span {margin-right: 0px;}
.page006_31>span:nth-child(1){margin-right: 5px;}

.page006_31 {
  top: 424px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_32 span {margin-right: 0px;}
.page006_32>span:nth-child(1){margin-right: 5px;}

.page006_32 {
  top: 442px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_33 span {margin-right: 0px;}
.page006_33>span:nth-child(1){margin-right: 5px;}

.page006_33 {
  top: 442px;
  left: 239px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_34 span {margin-right: 5px;}
.page006_34>span:nth-child(4){margin-right: 12px;}
.page006_34>span:nth-child(1){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_34>span:nth-child(2){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_34>span:nth-child(3){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_34>span:nth-child(4){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}

.page006_34 {
  top: 467px;
  left: 72px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page006_35 span {margin-right: 2.5px;}

.page006_35 {
  top: 483px;
  left: 71px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_36 span {margin-right: 2.5px;}

.page006_36 {
  top: 500px;
  left: 71px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page006_37>span:nth-child(1){margin-right: 4px;}
.page006_37 span {margin-right: 3px;}

.page006_37 {
  top: 523px;
  left: 79px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_38 span {margin-right: 0px;}

.page006_38 {
  top: 540px;
  left: 104px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_39 span {margin-right: 0px;}
.page006_39>span:nth-child(1){margin-right: 5px;}

.page006_39 {
  top: 557px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_40 span {margin-right: 0px;}
.page006_40>span:nth-child(1){margin-right: 5px;}

.page006_40 {
  top: 575px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_41 span {margin-right: 0px;}
.page006_41>span:nth-child(1){margin-right: 5px;}

.page006_41 {
  top: 592px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_42 span {margin-right: 0px;}
.page006_42>span:nth-child(1){margin-right: 5px;}

.page006_42 {
  top: 610px;
  left: 85px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_43>span:nth-child(1){margin-right: 3px;}
.page006_43 span {margin-right: -2px;}

.page006_43 {
  top: 87px;
  left: 432px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page006_44 span {margin-right: 0px;}
.page006_44>span:nth-child(1){margin-right: 5px;}

.page006_44 {
  top: 105px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_45 span {margin-right: 0px;}
.page006_45>span:nth-child(1){margin-right: 5px;}

.page006_45 {
  top: 105px;
  left: 591px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_46 span {margin-right: 0px;}
.page006_46>span:nth-child(1){margin-right: 5px;}

.page006_46 {
  top: 124px;
  left: 437px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_47 span {margin-right: 0px;}
.page006_47>span:nth-child(1){margin-right: 5px;}

.page006_47 {
  top: 124px;
  left: 591px;
  font-family: "TimesNewRomanPSMT";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

sup{  font-size: 9px;}


.page006_48 span {margin-right: 3px;}
.page006_48>span:nth-child(4){margin-right: 12px;}
.page006_48>span:nth-child(1){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_48>span:nth-child(2){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_48>span:nth-child(3){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}
.page006_48>span:nth-child(4){color: #ffffff; font-family: "TimesNewRomanPS-BoldItalic";}

.page006_48 {
  top: 149px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}


.page006_49 span {margin-right: 0px;}

.page006_49 {
  top: 168px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_50 span {margin-right: -1.5px;}

.page006_50 {
  top: 186px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_51 span {margin-right: 0px;}

.page006_51 {
  top: 204px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_52 span {margin-right: 0.5px;}

.page006_52 {
  top: 223px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_53 span {margin-right: 2px;}

.page006_53 {
  top: 241px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_54 span {margin-right: 0px;}

.page006_54 {
  top: 260px;
  left: 424px;
  font-family: "TimesNewRomanPS-Italic";
  font-size: 14px;
  width: 370px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_55 b{font-family: "ArialNarrow-Bold"; }
.page006_55 b>span:nth-child(1){margin-right: 2px;}
.page006_55 b>span:nth-child(2){margin-right: 11px;}
.page006_55 span{margin-right: 0.5px;}

.page006_55 {
  top: 946px;
  left: 71px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 380px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_56 b{font-family: "ArialNarrow-Bold"; }
.page006_56 b>span:nth-child(1){margin-right: 2px;}
.page006_56 b>span:nth-child(2){margin-right: 11px;}
.page006_56 span{margin-right: 1px;}

.page006_56 {
  top: 594px;
  left: 424px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 380px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

.page006_57 span{margin-right: 1px;}

.page006_57 {
  top: 611px;
  left: 495px;
  font-family: "ArialNarrow";
  font-size: 13px;
  width: 380px;
  text-indent: 0px;
  position: absolute;
  color: #000000;
  text-align: justify;
}

code{font-family: "TimesNewRomanPSMT";}

.img1{text-align:center; margin-top:-47.45em; margin-left:26.2em; position: absolute;}
.img2{text-align:center; margin-top:-25.45em; margin-left:8.2em; position: absolute;}

.figpoint{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.figpoint:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 950px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
