@charset "utf-8";

@font-face {
  font-family: "ArialNarrow-Bold";
  src: url('../fonts/ArialNarrow-Bold.otf');
}

@font-face {
  font-family: "ArialNarrow-Italic";
  src: url('../fonts/ArialNarrow-Italic.otf');
}

@font-face {
  font-family: "ArialNarrow";
  src: url('../fonts/ArialNarrow.otf');
}

@font-face {
  font-family: "Arial_MT";
  src: url('../fonts/Arial_MT.otf');
}

@font-face {
  font-family: "TimesNewRomanPS-BoldItalic";
  src: url('../fonts/TimesNewRomanPS-BoldItalic.otf');
}

@font-face {
  font-family: "TimesNewRomanPS-Italic";
  src: url('../fonts/TimesNewRomanPS-Italic.otf');
}

@font-face {
  font-family: "TimesNewRomanPSMT";
  src: url('../fonts/TimesNewRomanPSMT.otf');
}

@font-face {
  font-family: "arial-bolditalicmt";
  src: url('../fonts/arial-bolditalicmt.otf');
}



body {
  position: absolute;
  width: 816px;
  height: 1250px;
  margin: 0px;
}

.centerimg {
  width: 816px;
  height: 1056px;
}
.centerimg1 {
  width: 816px;
  height: 1250px;
}

.img {
  width: 816px;
  height: 1056px;
}


a {
	text-decoration: none;
	color:inherit;
}


i{font-style:normal;}

.inline{
vertical-align:middle;}

table{position: absolute; margin-left:12em;}


