body
{
margin-left: 3.5%;
margin-right: 30px;
}

img
{
max-width: 100%;
max-height: 100%;
}

sup
{
font-size: 80%;
vertical-align: super;
line-height: 1ex;
}

sub
{
font-size: 80%;
vertical-align: sub;
line-height: 1ex;
}

small
{
font-size: 80%;
}

.chaphead
 {
  font-size:130%;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left:0em;
  margin-right:0em;
  text-indent:0em;
  text-align:left;
  font-weight: bold;
}
.noindent
 {
  font-size:100%;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-left:0em;
  margin-right:0em;
  text-indent: 0em;
  text-align:left;
}
.page
{
  page-break-before: always;
}
.footnote
 {
  font-size:90%;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-left:0em;
  margin-right:0em;
  text-indent: 0em;
  text-align:justify;
}
.head
 {
  font-size:110%;
  margin-top:1em;
  margin-bottom:0em;
  margin-left:2em;
  margin-right:0em;
  text-indent:0em;
  text-align:left;
}

ul
{
list-style-type:bullet;
}
ol
{
list-style-type:roman-lower;
}

.center{text-align:center;}
